# Copy to .env and adjust as needed
MYSQL_ROOT_PASSWORD=root
JWT_SECRET=OB/OiiculTHXfYAeznVX1gikZPY2oSs9s6oi0LuqsCnEz4rIVAq5kCfLGVVK1J+mNtrJU7Mukpon86IOFOJqyw==

# Optional port overrides
# MYSQL_PORT=3306
# BACKEND_PORT=8888
# FRONTEND_PORT=5173